_site/
.sass-cache/
.jekyll-metadata
_pdf
.DS_Store
.idea
vendor/
.bundle/

trading-bot-spring-boot-autoconfigure
trading-bot-spring-boot-starter
trading-bot-spring-boot-starter-archetype
trading-bot-strategies
/cassandre-trading-bot.iml
